.container-body{
      background-image: url("Bg.jpg");

}

#uwu{
	margin-bottom: 25px;
}

.login-form-container {
    max-width: 418px;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -217px;
    margin-top: -250px;
    margin-bottom: -200px;
    box-shadow: -1px -1px 50px -12px rgba(0,0,0,0.8);
}

.login-form-header {
     text-align: center;
     color: white;
     padding-top: 3.5px;
     padding-bottom: 3.5px;
     background: #2eea8c;
     font-family: 'Open Sans', sans-serif;
     font-size: 15px;
}

.login-form-content{
    background-color: white;
    padding-top: 25px;
    padding-bottom: 75px;

}

.login-form{
	text-align: center;
	padding-top: 25px;
	padding-bottom: 15px;
  padding-left: 10px;
}
.login-form .input-container{
	padding-bottom: 10px;
}


.login-form .input {
    border: 2;
    width: 260px;
    height: 27px;
    padding-left: 10px;
    padding-top: 5px;

}


.ac{
  margin-left: 10px;
}

.btn{
	margin-left: 78px;
	margin-top: 25px;
}

.button {
    margin-top: 15px;
    width: 260px;
    background: #2eea8c;
    border: 0;
    color: #FFFFFF;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: background .3s;
    font-family: 'Open Sans', sans-serif;
}

.button:hover{
    background-color: #1eb866;
    box-shadow: 1px 1px 30px -10px rgba(0,0,0,0.8);
}

.bwh{
	color: #a59999;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	padding-top: 15px;
}









